.array-container {
    margin: auto;
    padding: 10px;
    padding-top: 20px;
   

}

.array-bar {
    width: 5px;
    background-color: #1d3557;
    display: inline-block;
    margin: 0 1px;
}

.button {
    background-color: #1d3557;
    color: #ffffff;
    border-radius: 150px;
    padding: 10px;
    margin: 10px;
}